<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myrecipe.recipe.mapper.RecipeMapper">
    <!-- 전체 레시피 조회 -->
    <select id="getRecipes" resultType="com.myrecipe.recipe.domain.Recipe">
        SELECT *
        FROM RECIPE
    </select>

    <!-- 특정 레시피 조회 -->
    <select id="getRecipe" parameterType="long" resultType="com.myrecipe.recipe.domain.Recipe">
        SELECT *
        FROM RECIPE
        WHERE ID = #{id}
    </select>

    <!-- 레시피 생성 -->
    <insert id="createRecipe" parameterType="com.myrecipe.recipe.domain.Recipe" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO RECIPE (
            USER_ID,
            TITLE,
            DESCRIPTION,
            KCAL,
            CARB,
            PROTEIN,
            FAT,
            PREP_TIME_MIN,
            COOK_TIME_MIN,
            DIFFICULTY,
            STATUS
        ) VALUES (
            #{userId},
            #{title},
            #{description},
            #{kcal},
            #{carb},
            #{protein},
            #{fat},
            #{prepTimeMin},
            #{cookTimeMin},
            #{difficulty},
            #{status}
        )
    </insert>

    <!-- 레시피 수정 -->
    <update id="updateRecipe" parameterType="com.myrecipe.recipe.domain.Recipe">
        UPDATE RECIPE
        SET TITLE = #{title},
            DESCRIPTION = #{description},
            KCAL = #{kcal},
            CARB = #{carb},
            PROTEIN = #{protein},
            FAT = #{fat},
            PREP_TIME_MIN = #{prepTimeMin},
            COOK_TIME_MIN = #{cookTimeMin},
            DIFFICULTY = #{difficulty},
            STATUS = #{status}
        WHERE ID = #{id}
    </update>

    <!-- 레시피 삭제 -->
    <delete id="deleteRecipe" parameterType="long">
        DELETE FROM RECIPE
        WHERE ID = #{id}
    </delete>
</mapper>